@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Source+Sans+Pro:wght@200&display=swap');

body {
    font-family: pt-serif, sans-serif;
    font-weight: 400;
    color: rgb(255, 30, 161);
}
/* Header */


/* Why Us? */


/* Footer */

footer {
    height: 150px;
    background-color: #3a3a3a;
}

.social-media {
    text-align: center;
    color: white;

}

.social-media > li {
    display: inline;
}